
@{
    ViewData["Title"] = "UserList";
}
@model List<AdminModel.UserViewModel>
<h1>Üye Liste</h1>




<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Roller</th>
            <th>Rol İşlemleri</th>
        </tr>
    </thead>


    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>
                  <user-role-names user-id="@item.Id"></user-role-names>
                </td>
                <td>
                    <a asp-controller="Roles" asp-action="AssignRoleToUser" asp-route-id="@item.Id">Rol ata</a>
                </td>
            </tr>
        }







    </tbody>
</table>

